@import 'container' ;
@import 'header' ;
@import 'nav' ;
@import 'hero' ;
@import 'collection' ;
@import 'choose' ;
@import 'process' ;
@import 'info' ;
@import 'commintment' ;
@import 'quality' ;
@import 'headquarters';
@import 'create' ;
@import 'choise' ;
@import 'footer' ;