.footer__inner {
    display: flex;
    align-items: center;
    padding: 47px 85px;
    background-color: #2C343E;
}

.footer .nav {
    margin-left: 70px;
}

.footer .nav__link:hover {
	color: #fefcf7;
}

.socials {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style-type: none;
}

.socials__item + .socials__item {
    margin-left: 24px;
}

.socials__link {
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.socials__link:hover path {
    fill: #FDD6BA;
    
}