.hero__inner {
    max-width: 1280px;
    width: 100%;
    padding: 115px 85px;
    background-image: url('../images/hero.jpg');
    background-repeat: no-repeat;
    border-radius: 10px;
}

.hero__heading {
    width: 493px;
    margin: 0;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.hero__paragrahp {
    width: 445px;
    margin: 0;
    margin-bottom: 56px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.hero__link {
    width: 217px;
    padding: 16px 31px;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    background: #0E8784;
    color: #FEFCF7;
    border-radius: 6px;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #66D2CF;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
.hero__inner {
    background-image: url('../images/2x-images/hero2x.png');
    background-size:  1280px,  600px;
}
}

@media only screen and (max-width: 768px) {
    .hero__inner {
        max-width: 768px;
        width: 100%;
        padding-top: 104px;
        padding-bottom: 104px;
        padding-left: 58px;
        background-image: url('../images/hero-table.jpg');
        background-size: 768px, 500px;
    }

    .hero__heading {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 24px;
    }

    .hero__paragrahp {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 40px;
    }
}